@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
.loader {
    height: 100vh;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;    
}

.loader::before {
    animation: 2s linear infinite spinner;
    border: solid 10px #eee;
    border-bottom-color: #EF6565;
    border-radius: 50%;
    content: "";
    height: 80px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 80px;
    will-change: transform;
}
