#backdrop {
    width: 1000%;
    height: 1000%;
    z-index: 20000;
    background-color: #000000;
    opacity: 0.3;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
}

.popup-box {
    display: none;
    position: absolute;
    width: 500px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    background-color: #ffffff;
    z-index: 100000000;
    border: 2px solid #000000;
    border-radius: 10px;
    padding-top: 10px;

    .popup-header {
        margin-top: -30px;
        border-bottom: 2px solid #000000;
        background-color: gray;
        text-align: center;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        height: 50px;

        h3{
          padding-top: 15px;
        }

        &.success {
            background-color: #4caf50;
        }

        &.info {
            background-color: #2196f3;
        }

        &.warning {
            background-color: #ff9800;
        }

        &.error {
            background-color: #f44336;
        }

        .closebtn {
            margin-right: 15px;
            margin-top: 10px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: black;
            }
        }
    }

    .popup-body {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 90px;
        background: #ffffff;
        text-align: center;
    }

    .popup-header-text {
        margin-top: 20px;
    }
}
