table {
    width: 70%;
    max-width: 70%;
    height: auto;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: honeydew;
    border: 1px solid navy;

    thead {
        border: 1px solid navy;
        background-color: slategrey;
        color: white;
        height: 25px;
        padding: 5px;
        text-align: left;
    }

    td {
        border: 1px solid navy;
        cursor: pointer;
        padding: 5px;
        text-align: left;
    }

    .cell-button {
        width: 90%;
        height: 97%;
        margin: 2px 4px 2px 2px;
        background-color: lightblue;
    }

    &#songsTable {
        tr > *:nth-child(1) {
            width: 40%;
        }

        tr > *:nth-child(2) {
            width: 45%;
        }
    }
}
