// ---------------------------------------------------------------------------
// This file containes all @font-face declarations
// ---------------------------------------------------------------------------

/*****************************/
/*     Work Sans             */
/*****************************/
@font-face {
    font-family: 'Work Sans';
    src: font('Work_Sans/WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: font('Work_Sans/WorkSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: font('Work_Sans/WorkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*****************************/
/*     Montserrat            */
/*****************************/
@font-face {
    font-family: 'Montserrat';
    src: font('Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: font('Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: font('Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: font('Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*****************************/
/*     Open Sans             */
/*****************************/
@font-face {
    font-family: 'Open Sans';
    src: font('Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: font('Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: font('Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
