/*****************************************
Table Of Contents:

******************************************/

html {
    background-color: #ccc;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &#header {
        height: 150px;

        h1 {
            color: yellow;
            font-size: 3em;
        }
    }

    input[type='search'] {
        border: solid 2px #fff;
        box-sizing: border-box;
        font-size: 1.5em;
        height: 2em;
        padding: 0.5em;
        width: 350px;
        z-index: 1;

        &:focus {
            border: solid 2px #00f;
        }
    }

    button {
        margin-top: 30px;
        height: 3em;
        width: 10em;
        border-radius: 5px;
        font-weight: bold;

        &:nth-child(odd) {
            background: green;
            color: yellow;
            margin-left: 0;
            margin-right: 20px;
        }

        &:nth-child(even) {
            background: gray;
            color: navy;
            margin-left: 20px;
            margin-right: 0;
        }
    }
}
